/* Estilos generales del formulario */
.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

form {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px #3767a6;
    width: 100%; /* Ocupa el 100% del ancho disponible por defecto */
    max-width: 100%; /* Asegura que no haya límites de ancho */
    box-sizing: border-box;
}

/* Estilos responsivos para pantallas grandes */
@media (min-width: 768px) {
    form {
        width: 400px;
        max-width: 400px; /* Establece un ancho máximo en pantallas grandes */
    }
}

/* Estilos para los campos de entrada */
.form-control {
    border: 2px solid #3767a6;
    border-radius: 5px;
    padding: 12px;
    font-size: 16px;
    width: 100%; /* Asegura que los campos ocupen todo el ancho del formulario */
    box-sizing: border-box;
}

.form-group {
    padding: 0.5rem 0;
}

.form-control:focus {
    outline: none;
    border-color: #D91424;
    box-shadow: 0 0 5px rgba(217, 20, 36, 0.5);
}

/* Estilo del botón de envío */
.buttons {
    background-color: #D91424;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px; /* Tamaño de fuente más consistente */
}

.buttons:hover {
    background-color: #2b973a;
}

/* Estilos del título del formulario */
h1 {
    color: #D91424;
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
}

/* Estilo de mensajes de error */
.error {
    color: #D91424;
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 600px) {
    form {
        width: 100%; /* Ajusta el formulario en pantallas pequeñas */
    }

    .form-control {
        font-size: 14px;
        text-align: justify;
        padding: 10px 30px;
    }
    
    .buttons {
        padding: 10px 10px;
        font-size: 14px;
    }
    
    h1 {
        font-size: 24px;
    }
}
