{% load staticf %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        {% include 'navbar.html' %}
    </header>

    <div class="container">
       <h1 style="text-align: center;">Quienes Somos</h1>
       <br>
       <p style="font-size: larger; text-align: justify;">Medcare es un hospital dedicado a proporcionar servicios médicos de alta calidad, con un enfoque en la atención personalizada y el bienestar de sus pacientes. Contamos con un equipo multidisciplinario que trabaja para ofrecer una atención eficiente y humana, apoyada por tecnología avanzada. Nos especializamos en la prevención, diagnóstico y tratamiento de enfermedades, así como en la promoción de estilos de vida saludables. </p>
       <br>
       <h1 style="text-align: center;">Misión</h1>
       <br>
       <p style="font-size: larger; text-align: justify;">Mejorar la calidad de vida de nuestros pacientes a través de servicios de salud integrales, accesibles y de excelencia, promoviendo el bienestar físico y mental. </p>
       <br>
       <h1 style="text-align: center;">Visión</h1>
       <br>
       <p style="font-size: larger;  text-align: justify;">Ser líderes en el sector de salud y bienestar, reconocidos por nuestra innovación, calidad de atención y compromiso con la comunidad.</p>
    </div>
</body>
</html>
